.chamada{
    background: purple;
    display: flex;
    padding: 80px;
    padding: 80px;
    justify-content: center;
}
body{
    background: black;
    margin: 0px;
    font-family: "Bokor", system-ui;
    margin-bottom: 100px;
}
